<form action="{% url 'create_comment' pk=movie.pk %}" method="post">
    {% csrf_token %}
    <div>
        {{ form.com_text }}
    </div>
    {% if request.user.is_authenticated %}
    <input type="hidden" name="user" value="{{user.id}}">
    <input type="hidden" name="movie" value="{{movie.id}}">
    {% endif %}

    {% if request.user.is_authenticated %}
    <div class="button-c">
        <button class="submit-comment" type="submit">Отправить</button>
    </div>
    {% else %}
    <div>Авторизируйтесь, что бы оставить комментарий</div>
    {% endif %}
</form>
