*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --index: calc(1vw + 1vh)
}


@font-face {
    font-family: main-title;
    src: url(../fonts/JacquesFrancoisShadow-Regular.ttf);
}

body{
    background: linear-gradient(#141414 , #464646);
    font-family: sans-serif;
    font-size: 16px;
    color: #fff;
}

.navbar{
    background-color: #8B0000;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    padding-top: calc(var(--index)/3);
    padding-bottom: calc(var(--index)/3);
}

.katalog{
    margin-left: calc(var(--index)*2);
}

.admin{
    margin-left: calc(var(--index)*2);
}

.admin-link{
    color: white;
    text-decoration: none;
}

.katalog-link{
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
}



.selected{
    color: #8B0000;
}



.search{
    width: calc(var(--index)*15);
    height: calc(var(--index)*1.5);
    /*border: solid 2px #fff;*/
    fill: none;
    color: #fff;
    text-indent: calc(var(--index)/1.5);
    border: none;
    /* padding: 10px; */
    background: none;
}

.search-form{
    margin-right: calc(var(--index)*2);
    border: solid 2px #fff;
    border-radius: 100px;
    padding-right: calc(var(--index)/2);

}



.search:focus{
    outline: none;
    border: none;
}



.search-button{
    background: none;
    border: none;
}

.search-input::placeholder{
    color: rgba(255, 255, 255, 0.56);
}

.left, .right{
    display: flex;
    align-items: center;
    justify-content: start;
}

.left{
    margin-left: calc(var(--index)*5);
}

.right{
    justify-content: end;
    margin-right: calc(var(--index)*5);
}

.logo{
    width: calc(var(--index)*6);
}

.main-container{
    position: relative;
}



.user-log{
    display: flex;
}


.nav-link{
    margin-left: calc(var(--index));
}

.main-container::after{
    content: "";
    position: absolute;
    z-index: 100;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    bottom: calc(var(--index)*-4.5);
}



.layers{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    overflow: hidden;
    position: relative;
}
.image-background{
    height: 235vh;
    width: 235vh;
    position: absolute;
    background-size: cover;
    background-position: center;
    will-change: transform;
    z-index: 2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* .main-title{
    z-index: 10;
    margin-bottom: calc(var(--index)*50);
} */




.main-title-text{
    font-family: main-title;
    font-size: calc(var(--index)*4.5);
    width: calc(var(--index)*29);
    height: calc(var(--index)*10);
    margin-bottom: calc(var(--index)*5);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    z-index: 11;
}


.banner-text{
    z-index: 10;
    will-change: transform;
    text-transform: uppercase;
    font-weight: 900;
    /*color: var(--text);*/
    text-shadow: 0 0 15px #9e7d35;
    margin-right: calc(var(--index)*35);
    margin-left: calc(var(--index)*5);
}


.title1{
    font-size: 24px;
    transform: translate3d(0, calc(var(--scrollTop)/5), 0);
}

.title2{
    margin-top: calc(var(--index)*2);
    font-weight: normal;
    text-transform: none;
    font-size: 16px;
    transform: translate3d(0, calc(var(--scrollTop)/6), 0);
}

.premier-title{
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    margin-top: calc(var(--index)*1.5);
}

.premier-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: calc(var(--index)*1.5);
}

.premier-image{
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 20px;
}


.popular-title{
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    margin-top: calc(var(--index)*2);
}

.popular-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: calc(var(--index)*1.5);
}

.popular-image{
    margin-left: calc(var(--index)*1.5);
    margin-right: calc(var(--index)*1.5);
    border-radius: calc(var(--index)/2);
}




.recommendations-title{
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    margin-top: calc(var(--index)*2);
}

.recommendations-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: calc(var(--index)*1.5);
}

.recommendations-image{
    margin-left: 125px;
    margin-right: 125px;
    border-radius:8px;
}


.footer{
    background-color: #141414;
}


.footer-content{
    margin: 0 calc(var(--index)*5);
    display: grid;
    grid-template-columns: 3fr 3fr 6fr;
    margin-top: 100px;
}


.connection, .social, .subscription{
        margin: calc(var(--index)*3.5) 0;
}


.icons{
    display: flex;
    margin-top: calc(var(--index)/2);
}

.icon{
    margin-right: calc(var(--index)/3);
}



.text, .email, .phone{
    margin-bottom: calc(var(--index)/2);
}


.subscription-email{
    width: calc(var(--index)*15);
    height: calc(var(--index)*2);
    margin-right: calc(var(--index)*2);
    border: solid 2px #fff;
    fill: none;
    border-radius: 100px;
    color: #fff;
    text-indent: calc(var(--index)/1.5);
    /* padding: 10px; */
    background: none;
}

.subscription-submit{
    width: calc(var(--index)*8);
    height: calc(var(--index)*2);
    border-radius: 100px;
    border: none;
}



.nav-link{
    text-decoration: none;
    color: white;
}




.recommendation-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.more-button{
    background-color: #FFD700;
    width: calc(var(--index)*8);
    border: none;
    height: calc(var(--index)*2);
    margin-top: calc(var(--index));
    border-radius: 100px;
    cursor: pointer;
}






/* external css: flickity.css */

.gallery {
  width: 78%;
  margin: 0 auto;
  overflow: hidden;
  padding-top: calc(var(--index)*3);
  padding-bottom: calc(var(--index)*3);
}

.gallery-cell {
  width: calc(var(--index)*11);
  height: calc(var(--index)*20);
  margin-right: calc(var(--index)*3);
  margin-left: calc(var(--index)*3);
  transition: transform 0.3s;
}

.gallery-cell img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  margin-top: calc(var(--index)*3);
  margin-bottom: calc(var(--index)*10);
}

.is-selected {
  transform: scale(1.3);
}
