.login-content{
    margin-top: calc(var(--index)*2);
    color: #141414;
    overflow: hidden;
}


.info-login{
    height: 100vh;
    /*width: 100vw;*/
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    flex-direction: column;
    /*text-align: left;*/
    /*display: grid;*/
    /*grid-template-columns: 4fr 8fr;*/
    overflow: hidden;
    position: relative;
    padding: calc(var(--index)*5) 0 calc(var(--index)*11) calc(var(--index)*11);
}



.login-text{
    font-weight: bold;
    font-size: 24px;
    margin-right: 20vw;
    margin-top: calc(var(--index)*3);
}

.login-form{
    margin-right: 20vw;
    margin-top: calc(var(--index)*2);
}




.form-input{
    width: calc(var(--index)*25);
    height: calc(var(--index)*2);
    border: solid 1px #141414;
    border-radius: 1vh;
    margin-bottom: 2vh;
    background-color: white;
    padding: calc(var(--index)/2);
}


.form-input:-webkit-autofill {
    transition: all 5000s ease-in-out;
}


.login-submit{
    background-color: #8B0000;
    width: 12vw;
    height: 5vh;
    border: solid 2px #8B0000;
    margin-top: 3vh;
    color: #ffffff;
    border-radius: 100px;
    margin-left: calc(var(--index)*9);
}

.form-input::placeholder{
    padding: calc(var(--index)/2);
}


.form-label{
    margin-left: calc(var(--index)/2);
    margin-bottom: calc(var(--index)/3);
}


.edit-profile-form{
    margin-left: calc(var(--index)*20);
    margin-top: calc(var(--index)*3);
}




input[type="file"] {
    width: calc(var(--index)*21.35);
    height: calc(var(--index)*2);
    font-size: 16px;
    color: #141414;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}


input[type="file"]:hover {
    /*background-color: rgba(139,0,0, 1);*/
    background-color: white;
}

input[type="file"]:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0 0 5px #66afe9;
}

input[type="file"]::-webkit-file-upload-button {
    background-color: #8B0000;
    color: #fff;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="file"]::-ms-browse {
    background-color: #4CAF50;
    color: #fff;
    /*padding: 10px 20px;*/
}








.register-div{
    margin-left: calc(var(--index)*9.5);
    margin-top: calc(var(--index)*2);
}


.register-link{
    color: #141414;
}






